<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title button
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.5.0/css/all.css", integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU", crossorigin="anonymous")
        link(rel="stylesheet", href="index.css")
    body
        .container.top
            .button.first
                a.side.codepen
                    i.fab.fa-codepen.fa-3x
                    h1 codepen
                .side.cd
                .side.cd
                .side.cd
                .side.cd
                .side.cd
        .container.mid
            .button.second
                a.side.facebook
                    i.fab.fa-facebook-f.fa-3x
                    h1 facebook
                .side.fb
                .side.fb
                .side.fb
                .side.fb
                .side.fb
        .container.last
            .button.third
                a.side.instagram
                    i.fab.fa-instagram.fa-3x
                    h1 instagram
                .side.in
                .side.in
                .side.in
                .side.in
                .side.in